@import "tailwindcss";

@theme inline {
  /* Brand Colors */
  --color-primary: #55aff9;
  --color-secondary: #007aff;
  --color-yellow: #d4ac0d;

  /* Text Colors */
  --color-text-dark: #383838;
  --color-text-gray: #787878;
  --color-text-red: #ff0000;
  --color-text-green: #1cbf73;

  /* Background Colors */
  --color-bg-light: #f5f7f9;
}

body {
  @apply bg-white text-text-dark;
}
